
body{
    background-color:black;
}
.bild1{
    display: block;
    margin: auto;
   height: 50%;
   width: 50%;
}
.stycke1{
    
    text-align: center;
    color: white;
    font-size: 25px;
}
.stycke2{
    text-align: center;
    color: white;
}